package ${package}.dto.${moduleName}.response;

import com.shsc.tms.common.model.response.BaseResponse;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
 * @author : ${author}
 * @date : ${datetime}
 **/
@Data
@ApiModel("${comments}新增响应数据传输对象")
public class ${className}AddRspDto implements BaseResponse {
	private static final long serialVersionUID = 1L;

	/**
	 * ${comments}ID
	 */
	@ApiModelProperty(value = "${comments}ID", name = "${classname}Id")
	private String ${classname}Id;

}
