package ${package}.controller;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;
import javax.annotation.Resource;
import ${package}.dto.${moduleName}.request.*;

import ${package}.vo.${moduleName}.*;
import ${package}.domain.JsonRsp;
import ${package}.domain.JsonRspHelper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import javax.validation.Valid;

import ${package}.service.I${className}Service;
import org.springframework.web.bind.annotation.*;
import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@RestController
@RequestMapping("/${pathName}")
@Api(value = "/${pathName}", tags = "${comments}服务接口")
public class ${className}Controller {
    @Resource
    private I${className}Service ${classname}Service;


    @ApiOperation(value = "新增${comments}")
    @PostMapping("/add")
    public JsonRsp<Void> add${className}(@RequestBody @Valid ${className}AddReqDto reqDto) {
        ${classname}Service.add${className}(reqDto);
        return JsonRspHelper.success();
    }


    @ApiOperation(value = "修改${comments}")
    @PostMapping("/mod")
    public JsonRsp<Void> mod${className}(@RequestBody @Valid ${className}ModReqDto reqDto) {
        ${classname}Service.mod${className}(reqDto);
        return JsonRspHelper.success();

    }


    @ApiOperation(value = "删除${comments}")
    @PostMapping("/del")
    public JsonRsp<Void> del${className}(@RequestBody @Valid ${className}DelReqDto reqDto) {
        ${classname}Service.del${className}(reqDto);
        return JsonRspHelper.success();

    }

    @ApiOperation(value = "根据主键ID查询${comments}")
    @GetMapping("/queryById")
    public JsonRsp<${className}RspVo> query${className}ById(@RequestParam Integer id) {
        ${className}RspVo repDto = ${classname}Service.query${className}ById(id);
        return JsonRspHelper.success(repDto);

    }


    @ApiOperation(value = "${comments}分页列表查询")
    @PostMapping("/pageList")
    public JsonRsp<Page<${className}PageRspVo>> pageList(@RequestBody ${className}PageReqDto reqDto) {
        Page<${className}PageRspVo> rspDto = ${classname}Service.query${className}ListByPage(reqDto);
        return JsonRspHelper.success(rspDto);

    }

    @ApiOperation(value = "批量更新${comments}")
    @PostMapping("/batchUpdate")
    public JsonRsp<Void> add${className}(@RequestBody @Valid List<${className}ModReqDto> reqDtos) throws Exception{
        ${classname}Service.batchUpdate(reqDtos);
        return JsonRspHelper.success();
    }
}
