package ${package}.dto.${moduleName}.request;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ApiModel("${comments}删除请求数据传输对象")
public class ${className}DelReqDto {
	private static final long serialVersionUID = 1L;

	/**
	 * id
	 */
	@ApiModelProperty(value = "id", name = "id")
	private Integer id;
}
