package ${package}.convert;

import com.shsc.framework.util.snowflake.SnowFlakeUtil;
import com.shsc.tms.biz.dto.${moduleName}.request.${className}AddReqDto;
import com.shsc.tms.biz.dto.${moduleName}.request.${className}ModReqDto;
import ${package}.entity.po.${className}Po;
import org.springframework.beans.BeanUtils;

public class ${className}Dto2PoConvert {

    public static ${className}Po ${classname}Add(${className}AddReqDto reqDto) {
        ${className}Po ${classname}Po = new ${className}Po();
        BeanUtils.copyProperties(reqDto, ${classname}Po);
        //TODO 需要定义编码规则
        ${classname}Po.set${className}Id(SnowFlakeUtil.getIdForStr());
        //设置创建人信息
        ${classname}Po.setCreator(reqDto.getEmployeeNo());
        ${classname}Po.setCreatorName(reqDto.getEmployeeName());
        return ${classname}Po;
    }

    public static ${className}Po ${classname}Mod(${className}ModReqDto reqDto) {
        ${className}Po ${classname}Po = new ${className}Po();
        BeanUtils.copyProperties(reqDto, ${classname}Po);
        //设置修改人信息
        ${classname}Po.setModifier(reqDto.getEmployeeNo());
        ${classname}Po.setModifierName(reqDto.getEmployeeName());
        return ${classname}Po;
    }

    public static ${className}Po ${classname}Del(${className}DelReqDto reqDto) {
        ${className}Po ${classname}Po = new ${className}Po();
        BeanUtils.copyProperties(reqDto, ${classname}Po);
        ${classname}Po.setDelFlag(true);
        //设置修改人信息
        ${classname}Po.setModifier(reqDto.getEmployeeNo());
        ${classname}Po.setModifierName(reqDto.getEmployeeName());
        return ${classname}Po;
    }
}