package ${package}.mapper;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import ${package}.dto.${moduleName}.request.*;

import ${package}.vo.${moduleName}.*;
import ${package}.entity.po.${className}Po;
import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}PoMapper extends BaseMapper<${className}Po> {

    /**
     * 分页查询
     * @param page 分页对象
     * @param reqDto 分页请求数据
     */
    Page<${className}PageRspVo> query${className}ListByPage(Page<${className}PageRspVo> page, @Param("dto") ${className}PageReqDto reqDto);

    /**
     *  批量更新
     *  @param pos po的集合
     */
    void batchUpdate(@Param("pos") List<${className}Po> pos);
}
