package ${package}.dto.${moduleName}.request;

import com.fasterxml.jackson.annotation.JsonFormat;
import com.shsc.plugin.mybatisplus.model.BasePageDTO;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import org.hibernate.validator.constraints.Length;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.util.Date;

/**
 * @author : ${author}
 * @date : ${datetime}
 **/
@Data
@ApiModel("${comments}分页查询请求数据传输对象")
public class ${className}PageReqDto extends BasePageDTO {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	#if($column.columnName != $pk.columnName)
	/**
	 * $column.comments
	 */
	@ApiModelProperty(value = "$column.comments", name = "$column.attrname")
	private $column.attrType $column.attrname;
	#end

#end

}
