package ${package}.dto.${moduleName}.response;

import com.shsc.tms.common.model.response.BaseResponse;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import java.util.Date;

/**
 * @author : ${author}
 * @date : ${datetime}
 **/
@Data
@ApiModel("${comments}详情响应数据传输对象")
public class ${className}PageRspDto implements BaseResponse {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	@ApiModelProperty(value = "$column.comments", name = "$column.attrname")
	private $column.attrType $column.attrname;

#end

}
