package ${package}.convert;

import com.baomidou.mybatisplus.core.toolkit.ObjectUtils;
import com.shsc.tms.biz.dto.vehicle.response.*;
import ${package}.entity.po.${className}Po;
import org.springframework.beans.BeanUtils;
//import com.shsc.tms.common.enums.${className}StateEnum;

public class ${className}Po2DtoConvert {

    public static ${className}AddRspDto po2${className}AddRsp(${className}Po po){
        ${className}AddRspDto rspDto = new ${className}AddRspDto();
        BeanUtils.copyProperties(po, rspDto);

        return rspDto;
    }

    public static ${className}ModRspDto po2${className}ModRsp(${className}Po po){
        ${className}ModRspDto rspDto = new ${className}ModRspDto();
        BeanUtils.copyProperties(po, rspDto);

        return rspDto;
    }

    public static ${className}DelRspDto po2${className}DelRsp(${className}Po po){
        ${className}DelRspDto rspDto = new ${className}DelRspDto();
        BeanUtils.copyProperties(po, rspDto);

        return rspDto;
    }

    public static ${className}DetailRspDto po2${className}DetailRsp(${className}Po po){
        if (null == po){
            return null;
        }
        ${className}DetailRspDto rspDto = new ${className}DetailRspDto();
        //rspDto.setStateName(${className}StateEnum.getEnumByCode(Integer.valueOf(po.getState())).getMsg());
        BeanUtils.copyProperties(po, rspDto);

        return rspDto;
    }

    public static List<${className}PageRspDto> po2${className}PageRsp(List<${className}Po> poList){
        List<${className}PageRspDto> rspDtoList = new ArrayList<>();
        if (ObjectUtils.isEmpty(poList)){
            return null;
        }
        for (${className}Po po : poList){
            ${className}PageRspDto rspDto = new ${className}PageRspDto();
            BeanUtils.copyProperties(po, rspDto);
            //rspDto.setStateName(${className}StateEnum.getEnumByCode(Integer.valueOf(po.getState())).getMsg());
            rspDtoList.add(rspDto);
        }

        return rspDtoList;
    }
}