package ${package}.service;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.entity.po.${className}Po;
import ${package}.dto.${moduleName}.request.*;

import ${package}.vo.${moduleName}.*;
import com.baomidou.mybatisplus.extension.service.IService;
import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service extends IService<${className}Po> {
    /**
     * 新增${comments}
     * @param reqDto 新增请求对象
     */
    void add${className}(${className}AddReqDto reqDto);

    /**
     * 修改${comments}
     * @param reqDto 修改请求对象
     */
    void mod${className}(${className}ModReqDto reqDto);

    /**
     * 删除${comments}，逻辑删除（软删除）
     * @param reqDto 删除请求对象
     */
    void del${className}(${className}DelReqDto reqDto);

    /**
     * 根据主键ID查询${comments}信息
     * @param id id
     */
    ${className}RspVo query${className}ById(Integer id);


    /**
     * 分页查询${comments}列表信息
     * @param reqDto 分页请求对象
     */
    Page<${className}PageRspVo> query${className}ListByPage(${className}PageReqDto reqDto);

    /**
     * 批量更新
     * @param reqDtos 分页请求对象
     */
    void batchUpdate(List<${className}ModReqDto> reqDtos) throws Exception;
}

